
.titel{
  font-size: 300%;
  color: white;
  font: verdana;
  width: 100%;
  text-align: : center;


}

.container{
  width: 100%;

}

.text{
  width: 100%;
}
.bilder{
  flex: wrap;
  width: 300px;
}


.knappholder{
  display:flex;
}


.knapp{
  margin: 30px;
  flex: inline-block;
}
body{
  background-color: blue;
}
